#backgroundimage
{
   
   left: 0;
   margin: 0;
   min-height: 10%;
   min-width: 674px;
   padding: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
}


#registration .btn {
    background-color: #fee300 !important;
    color: #333333 !important;
    font-weight: bold !important;
    border: #fee300 !important;
    border-radius: 1em !important;
    font-weight: bold;
    padding: 1em;
}

#registration .btn-blue {
  background-color: #21ade7 !important;
  color: #ffffff !important;
  font-weight: bold !important;
    border: #21ade7 !important;
    text-align: center;
    padding: 0.9em;
}

#registration .membership-periodBtnSpace {
  background-color: #fee300 !important;
  color: #333333 !important;
  font-weight: bold !important;
    border: #fee300 !important;
    padding: 0.7em;
    text-align: center;
    margin: 0.2em 0 0.2em 0;
}


#registration .text1 {
    font-weight: bold;
  color: #21ade7;
    font-size: 3em;
}

#registration .text2 {
    font-size: 1.5em;
  font-weight: bold;
    color: #333333;
}

#registration .info-text {
    font-size: 1.7em;
    color: #636364;
}

#registration .info-text-bold {
    font-size: 2em;
    font-weight: bold;
}

#registration .space {
    padding-bottom: 1.5em;
}

#registration .back-block span {
    float: right;
    vertical-align: middle;
    display: inline-block;
    font: 2.5em bold;
}

#registration input {
    width: 330px;
    padding: 1.8em !important;
    font-weight: bold !important;
    border-radius: 4em !important;
    border: #21ade7 solid 0.2em !important;
    margin-bottom: 0.5em !important;
}

#registration .select {
    width: 330px;
    height: 40px;
    font-weight: bold !important;
    border-radius: 4em !important;
    border: #21ade7 solid 0.2em !important;
    margin-bottom: 0.5em !important;
    background-color: #fff;
}

#registration select {
    border: none !important;
    margin: 0 !important;
    padding: 1em !important;
}

#registration .back-block img {
    float: right;
    vertical-align: middle;
    display: inline-block;
    width: 2.9em;
    cursor: pointer;
}
.btn-radio {
  width: 100%;
}
.img-radio {
  opacity: 0.5;
  margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}
#workout{
  margin: left;
}